@charset "utf-8";
/* CSS Document */

body
{
	background: #717171;
	font:"Arial Black", Gadget, sans-serif;
	font-size: 24px;
	text-align: center;
}

#TextL
{
	Float: left;
}

#TextL2
{
	Float: left;
	padding-left: 50px;
}

#TextR
{
	Float: right;
}

#TextR2
{
	Float: right;
	padding-right: 50px;
}

#Navigation
{
	Float: left;
	Padding-top: 5px;
	margin-top: 5px;
	width: 200px;
	background: #FFF;
}